{% extends '__base__.html' %}

{% block title %} Test users - Awesome Python Webapp {% endblock %}


{% block content %}
<div>
    <div>
        name:<input type="text" id="name">
        email:<input type="text" id="email">
        password:<input type="text" id="password">
        admin:<input type="text" id="admin">
        <input type="button" value="add user" id="add-user">
    </div>
    <br>
    <h2>All users:</h2>
    {% for u in users %}
    <p>{{ u.name }} / {{ u.email }}</p>
    {% endfor %}
</div>

<script>
    window.onload = function () {
        var addBtn = document.querySelector('#add-user');
        var name = document.querySelector('#name');
        var email = document.querySelector('#email');
        var admin = document.querySelector('#admin');
        var password = document.querySelector('#password');
        addBtn.addEventListener('click', function (e) {

        })
    }
</script>
{% endblock %}